body{
    font-size: 14pt;
}
.fon{
    background: url(../img/i.webp) repeat-y 100%;
    background-size: 10%;
}
.big{
    font-size: 2rem;
}
.hotpink{
    color: rgb(22, 231, 196);
}
.right{
    text-align: right;
}
.under{
    text-decoration: overline;
}
.underhello{
    text-decoration: overline hotpink;
}
table{
    width: 30vw;
    height: 50vh;
    border-bottom: 20px outset green;
    border-top: 20px outset darkblue;
    border-left: 20px outset hotpink;
    border-right: 20px outset orange;
    border-collapse: collapse;
}
.red{
    color: red;
}
.center{
    text-align: center;
}
a{
    text-decoration: none;
}